.card-img-top
 {
    width: 340px;
} 
/* card-img-top-tel
{
    width: 330px;
    height: 370px;
}  */
*{
    margin: 0;
    padding: 0;
}
html
{
    /* font-family: "Open Sams", sans-serif; */
    /* max-width: 1600px; */
}
a
{
    text-decoration: none;
    
}
#navbar
{
    color: #fff;
    display: flex;
    justify-content: space-between;
}
#navbar ul
{
    list-style: none;
    display: flex;
    align-items: center;
}
#navbar ul li a
{
    padding: 0.5rem;
}
ol, ul
{
    padding-left: 5px;
}
.nav
{
    margin-left: 0px;
    position: fixed;
    padding-left:0px;
    width: 55px;
    height: 280px;
    top: 50%;
    transform: translateY(-50%);
}
h4
{
    font-size: 24px;
}
.nav:hover
{
    width: 80px;
    justify-content: center;
    transition:500ms all;
    
}
.nav
{
    /* glass */
   background-color: black;
    background: linear-gradient(135deg, rgba(255,255,255,0.1) rgba(255,255,255,0) );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius:0px 27px 27px 0px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);    
}
.icons
{
    position: relative;
    margin-top: 23px;
    width: 40px;
}
.container
{
    max-width: 1100px;
    margin: 0 auto;
    margin-left: 200px;
}
.filter
{
    position: absolute;
    right: 0;
    background-color: #efeef6;
    width: 300px;
    height: 1370px;
    list-style-type: none; 
    padding-left: 50px;
    margin-right: 100px;
}
.buton12345{
    background: #640094;
    border-bottom: 15px solid #640094;
    border-left: 30px solid #640094;
    border-right: 30px solid #640094;
    border-top: 15px solid #640094;
    color: #ffffff;
    justify-content: center;
    border-radius: 50px;
}
.buton12345:hover{
    color: #ffffff;
}
.indirim{
    background: rgb(75, 75, 75);
    padding: 0.25rem;
    color: white;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
}   
@media(max-width:1700px){
.filter{
    width: 200px;
    margin-right: 50px;
}
.container{
    margin-left: 100px;
}
}
@media(max-width:1400px){
    .filter{
        width: 150px;
        margin-right: 30px;
    }
    .container{
        margin-left: 70px;
    }
.card-img-top
    {
       width: 150px;
   } 
}

