 card-img-top
 {
    width: 340px;
} 
/* card-img-top-tel
{
    width: 330px;
    height: 370px;
}  */
*{
    margin: 0;
    padding: 0;
}
html
{
    /* font-family: "Open Sams", sans-serif; */
    /* max-width: 1600px; */
}
a
{
    text-decoration: none;
    
}
#navbar
{
    color: #fff;
    display: flex;
    justify-content: space-between;
}
#navbar ul
{
    list-style: none;
    display: flex;
    align-items: center;
}
#navbar ul li a
{
    padding: 0.5rem;
}
.container
{
    max-width: 1100px;
    margin: 0 auto;
}
.filter
{
    position: absolute;
    right: 0;
    background-color: #efeef6;
    width: 300px;
    height: 1370px;
    list-style-type: none; 
}
.buton12345{
    background: #640094;
    border-bottom: 15px solid #640094;
    border-left: 30px solid #640094;
    border-right: 30px solid #640094;
    border-top: 15px solid #640094;
    color: #ffffff;
    justify-content: center;
    border-radius: 50px;
}
.buton12345:hover{
    color: #ffffff;
}
.indirim{
    background: rgb(75, 75, 75);
    padding: 0.25rem;
    color: white;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
}   
@media(max-width:1700px){
.filter{
    width: 200px;
}
}

